@font-face {
  src: url("font/Rounded_Elegance.ttf");
  font-family: "font"; }

body {
  font-family: font;
  margin: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw; }

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -1px) rotate(1deg); }
  20% {
    transform: translate(-2px, 1px) rotate(-1deg); }
  30% {
    transform: translate(1px, 2px) rotate(0deg); }
  40% {
    transform: translate(-1px, 1px) rotate(1deg); }
  50% {
    transform: translate(1px, -1px) rotate(-2deg); }
  60% {
    transform: translate(2px, 1px) rotate(1deg); }
  70% {
    transform: translate(-1px, 2px) rotate(2deg); }
  80% {
    transform: translate(2px, -1px) rotate(1deg); }
  90% {
    transform: translate(-1px, 2px) rotate(0deg); }
  100% {
    transform: translate(2px, 1px) rotate(-1deg); } }

container {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0 auto; }

nav {
  display: flex;
  position: absolute;
  top: 0;
  height: 5%;
  width: inherit;
  background-color: #e8e9e9;
  justify-content: space-between;
  align-items: center; }

.nav__title {
  padding: 1%;
  margin: 0 3%;
  transition: 0.5s; }
  .nav__title:hover {
    font-size: 1.1em;
    cursor: pointer; }

.nav__menu {
  font-size: 2em;
  padding: 0% 2%;
  margin: 0 1%;
  transition: 0.5s; }
  .nav__menu:hover {
    font-size: 2.2em;
    cursor: pointer; }

main {
  height: 100%;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow: auto; }

.main__page {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center; }

.main__open,
.main__close {
  display: inline-block;
  transition: 0.5s; }

.main__alphabet {
  opacity: 100; }

main > .main__page:nth-child(1) {
  scroll-snap-align: center;
  background-color: #587bbe; }
  main > .main__page:nth-child(1) .main__title {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white; }
    main > .main__page:nth-child(1) .main__title:hover .main__box {
      transition: 1s;
      width: 3.75em;
      animation: shake 3s infinite;
      cursor: pointer; }
  main > .main__page:nth-child(1) .main__box {
    transition: 0.5s;
    display: block;
    height: 80%;
    width: .65em;
    overflow: hidden; }

main > .main__page:nth-child(2) {
  scroll-snap-align: center;
  background-color: #e3605e; }
  main > .main__page:nth-child(2) .main__title {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white; }
    main > .main__page:nth-child(2) .main__title:hover .main__box {
      transition: 1s;
      width: 2.8em;
      animation: shake 3s infinite;
      cursor: pointer; }
  main > .main__page:nth-child(2) .main__box {
    transition: 0.5s;
    display: block;
    height: 80%;
    width: .95em;
    overflow: hidden; }

main > .main__page:nth-child(3) {
  scroll-snap-align: center;
  background-color: #42997b; }
  main > .main__page:nth-child(3) .main__title {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white; }
    main > .main__page:nth-child(3) .main__title:hover .main__box {
      transition: 1s;
      width: 3.45em;
      animation: shake 3s infinite;
      cursor: pointer; }
  main > .main__page:nth-child(3) .main__box {
    transition: 0.5s;
    display: block;
    height: 80%;
    width: .35em;
    overflow: hidden; }
