@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "LINESeedKR-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "NanumSquare", sans-serif;
  cursor: default;
  position: relative;
}

* {
  overflow: visible;
}

::-webkit-scrollbar {
  display: none;
}

@layer components {
  .title-logo {
    font-family: "LINESeedKR-Bd", sans-serif;
    letter-spacing: -0.1rem;
    @apply text-4xl font-bold -translate-y-1;
  }
  .title-page-base {
    font-family: "LINESeedKR-Rg", sans-serif;
    letter-spacing: -0.1rem;
    @apply text-4xl;
  }
  .title-page-sm {
    font-family: "LINESeedKR-Rg", sans-serif;
    letter-spacing: -0.1rem;
    @apply text-3xl;
  }

  .profileImg-sm {
    @apply relative w-8 h-8 overflow-hidden min-w-[2rem] rounded-2xl hover:cursor-pointer;
  }

  .profileImg-lg {
    @apply relative object-cover w-24 h-24 overflow-hidden rounded-full;
  }

  .button-black {
    @apply p-2 text-base text-center text-white bg-black rounded-lg;
  }
  .button-gray {
    @apply p-2 text-center text-black rounded-lg bg-gray-3;
  }
  .button-round {
    @apply p-1 text-center text-black rounded-full bg-gray-3;
  }

  .tag-sm {
    @apply flex items-center justify-center h-8 px-2 py-2 text-sm text-center text-white transition duration-150 ease-in-out bg-black rounded-lg hover:bg-black-f focus:bg-black-f focus:outline-none focus:ring-0 active:bg-black-f min-w-fit;
  }

  .button-sm {
    @apply button-base;
    @apply h-8 px-4 text-sm;
  }
  /* .button-sm-inactive {
    @apply button-base-inactive;
    @apply h-8 px-4 text-sm;
  } */
  .button-base {
    @apply flex items-center justify-center h-10 px-4 py-2 text-base text-center text-white transition duration-150 ease-in-out bg-black rounded-lg hover:bg-black-f focus:bg-black-f focus:outline-none focus:ring-0 active:bg-black-f min-w-fit;
  }
  .button-inactive {
    @apply text-black bg-gray-3 hover:bg-gray-3f focus:bg-gray-3f active:bg-gray-3f;
  }
  /* .button-base-inactive {
    @apply button-base;
    @apply text-black bg-gray-3 hover:bg-gray-3f focus:bg-gray-3f active:bg-gray-3f;
  } */

  .input-base {
    @apply block w-full h-10 px-2 py-2 text-base transition ease-in-out border-2 border-solid rounded-lg text-gray-1 bg-gray-3 bg-clip-padding border-gray-3 focus:text-gray-1 focus:border-gray-3f focus:outline-none;
  }

  .textarea-base {
    @apply block w-full h-8 px-2 py-2 text-xs leading-5 transition ease-in-out border-2 border-solid rounded-lg resize-none text-gray-1 bg-gray-3 bg-clip-padding border-gray-3 focus:text-gray-1 focus:border-gray-3f focus:outline-none;
  }

  .inputForm {
    @apply flex items-end justify-between;
  }
  .inputForm_left {
    @apply flex items-end;
  }
  .inputForm_label {
    @apply mt-1 text-base;
  }
  .inputForm_txt {
    @apply text-xs;
  }
  .inputForm_txt-invalid {
    @apply text-red;
  }
  .inputForm_input {
    @apply p-1 my-1 mb-4 rounded-lg bg-gray-3;
  }
}
